<%- include('header')%>

<div class="container">
    <h1>This Was The Assignment Of Given Task</h1>
    <button type="button" class="btn btn-warning Add_btn">Go For Sign Up</button>
</div>
<%- include('footer')%>



<!--install all the necessery midllelware
    localhost:4400/ (for homepage)
    localhost:4400/signup
    localhost:4400/showuser

to run use=> npm start 
for mongod use =>mongod -dbpath.
for mongo use =>mongo.exe-->
